.nav-container {
    background-color: #174e09;
    padding: 0 2.5%;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
}

body{
    margin: 0;
    padding: 0;
}

nav{
    width: 95%;
    min-width: 0;
    flex-wrap: wrap;
    height: 105%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    background-color: #7b2d27;
    align-items: center;
    color: white;
    margin: 0 auto;
}

nav ul{
    list-style-type: none;
}

.centralNav li{
    margin-top: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2% !important;
    margin-right: 5%;
}

.centralNav a{
    text-decoration: none;
    color: white;
}

.centralNav a:hover{
    text-decoration: underline;
    background-color: rgba(179, 179, 146, 0.42);
}

.leftNav{
    padding-left: 2%;
}

.centralNav{
    gap: 2%;
    width: 30%;
}

.rightNav {
    padding-right: 2%;
}

.rightNav span{
    border-bottom: 1px solid white;

}

.contentSection{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr .75fr;
    background-image: url(../img/fire-cloud-space-background.jpg);
    background-position: center center; /* Add this */
    background-size: cover; /* Add this */
    background-repeat: no-repeat; /* Add this */
}

h1 {
    margin-left: 2.5%;
    font-size: 4em;
    text-transform: uppercase;
    color: white;
}

h3{
    color: white;
}

.blogBoxes{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    gap: 3%;
    /* width: 20%; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* margin: 0 2%; */
    margin-top: 1em;
    align-items: stretch; /* Add this - makes children stretch to fill height */

}

.blogBox{
    width: 30%;
    text-wrap: wrap;
    flex-wrap: wrap;
    border: 1px solid white;
    text-align: center;
}

.blogBox p{
    width: 95%;
    color: white;
    font-weight: 100;
}

.blogBox img{
    width: 95%;
}
